/* CSTNew.js styles */

.viewport {
    margin-left: 18%;
    margin-right: 15%;
    margin-top: 5%;
}

.pos-left {
    text-align: left;
}

.clr-btn {
    float: left;
    margin-right: 10px;
}

.response {
    margin-top: 30px;
}
.breadcrumb-h{
    margin-left:  5%;

}
.MuiButton-containedPrimary:hover{
    background-color: #008290 !important;
}
.MuiButton-containedPrimary{
    background-color: #008290 !important;
    color: #fff;
}
