.form-horizontal{
    
    margin: 0 auto;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 20;
    /* float: left; */
  }

  .vl {
    border-left: 3px solid green;
    height: 500px;
    float: left;
  }
